<div>
    <h2 id="page-heading">
        <span>Diversity Questions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-diversity-question" [routerLink]="['/diversity-question/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Diversity Question
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="diversityQuestions?.length === 0">
        <span>No diversityQuestions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="diversityQuestions && diversityQuestions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Question Seq No</span></th>
                    <th scope="col" ><span>Question No</span></th>
                    <th scope="col" ><span>Question Desc</span></th>
                    <th scope="col" ><span>Theme</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let diversityQuestion of diversityQuestions ;trackBy: trackId">
                    <td><a [routerLink]="['/diversity-question', diversityQuestion.id, 'view']">{{ diversityQuestion.id }}</a></td>
                    <td>{{ diversityQuestion.questionSeqNo }}</td>
                    <td>{{ diversityQuestion.questionNo }}</td>
                    <td>{{ diversityQuestion.questionDesc }}</td>
                    <td>
                        <div *ngIf="diversityQuestion.theme">
                            <a [routerLink]="['/diversity-theme', diversityQuestion.theme?.id, 'view']" >{{ diversityQuestion.theme?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/diversity-question', diversityQuestion.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/diversity-question', diversityQuestion.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(diversityQuestion)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
