<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-diversity-quest-category-heading">Create or edit a Diversity Quest Category</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_categorySeqNo">Category Seq No</label>
                    <input type="number" class="form-control" name="categorySeqNo" id="field_categorySeqNo"
                           formControlName="categorySeqNo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_categoryNo">Category No</label>
                    <input type="text" class="form-control" name="categoryNo" id="field_categoryNo"
                           formControlName="categoryNo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_categoryDesc">Category Desc</label>
                    <input type="text" class="form-control" name="categoryDesc" id="field_categoryDesc"
                           formControlName="categoryDesc"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_question">Question</label>
                    <select class="form-control" id="field_question" name="question" formControlName="question">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="diversityQuestionOption.id === editForm.get('question')!.value?.id ? editForm.get('question')!.value : diversityQuestionOption" *ngFor="let diversityQuestionOption of diversityquestions; trackBy: trackById">{{ diversityQuestionOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
