<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="diversityEmployee">
            <h2><span>Diversity Employee</span> {{ diversityEmployee.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Employee Id</span></dt>
                <dd>
                    <span>{{ diversityEmployee.employeeId }}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{ diversityEmployee.firstName }}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{ diversityEmployee.lastName }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ diversityEmployee.email }}</span>
                </dd>
                <dt><span>Employee</span></dt>
                <dd>
                    <div *ngIf="diversityEmployee.employee">
                        <a [routerLink]="['/diversity-survey-data', diversityEmployee.employee?.id, 'view']">{{ diversityEmployee.employee?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/diversity-employee', diversityEmployee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
