<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="roles">
            <h2><span>Roles</span> {{ roles.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Role Type</span></dt>
                <dd>
                    <span>{{ roles.roleType }}</span>
                </dd>
                <dt><span>Employee</span></dt>
                <dd>
                    <div *ngIf="roles.employee">
                        <a [routerLink]="['/diversity-employee', roles.employee?.id, 'view']">{{ roles.employee?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/roles', roles.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
