<div>
    <h2 id="page-heading">
        <span>Diversity Survey Data</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-diversity-survey-data" [routerLink]="['/diversity-survey-data/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Diversity Survey Data
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="diversitySurveyData?.length === 0">
        <span>No diversitySurveyData found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="diversitySurveyData && diversitySurveyData.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Custom Answer</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let diversitySurveyData of diversitySurveyData ;trackBy: trackId">
                    <td><a [routerLink]="['/diversity-survey-data', diversitySurveyData.id, 'view']">{{ diversitySurveyData.id }}</a></td>
                    <td>{{ diversitySurveyData.customAnswer }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/diversity-survey-data', diversitySurveyData.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/diversity-survey-data', diversitySurveyData.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(diversitySurveyData)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
